<div class="trip-form">

    <h1 class='comment-heading'>Edit Comment</h1>

    <div class="comment-form">

        <%= form_for @comment do |f| %>

            <%= f.text_area :content, size: "41x5"  %>
        
            <%= f.hidden_field :trip_id, value: @trip.id %>
            <%= f.hidden_field :user_id, value: @current_user.id %>

            <div class="create-comment">
                <div class="trip-button"><button class="button-28-small" role="button">Edit Comment</button></div>      
            </div>
            
        <% end %>

    </div>

</div>