
<%= search_form_for(@query, :url => search_path, :method => 'get', :class =>"search-form") do |f| %>
    <div class="search-container">
    <%= f.search_field :origin_or_destination_or_user_first_name_i_cont_any, :placeholder => 'Search..', :class => "search-input"%>
        <div class="search">
            <%= f.submit %>
        </div>
    </div>
<% end %>
