
<div class="home-page">
    <h1 class="home-title">Hitch-A-Ride Today</h1>
</div>


<div class="home-nav">
    <%= link_to trips_path, :class => 'button' do %>
        <div class="find-a-trip">
            <h2>Find-a-Trip</h2>
        </div>
    <% end %>

    <%= link_to new_trip_path, :class => 'button' do %>
        <div class="post-a-trip">
            <h2>Post-a-Trip</h2>
        </div>
    <% end %>

</div>

