@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');

* {
    font-family: 'Hind', sans-serif;
}

.home-page {
    background-image: url(/assets/jake-hills-TfJKSjoESc4-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    height: 60vh;
    color: white;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.home-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    text-transform: uppercase;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 50vw;
    margin: 40px auto;
    padding: 20px 50px; 
    border-radius: 20px;
}

.icon {
    height: 15em;
    display: block;
}

.user-icon {
    border-radius: 50px;
    height: 10em;
}

.thumb {
    height: 10em;
    float: right;
}

.trip-index {
    background-color:  rgb(219, 233, 239);
    height: 250px;
    margin: 20px 0;
    padding: 20px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

a:visited, a:hover, a {
    text-decoration: none;
    color: black;
}

.description {
    display: block;
}

span {
    color: green;
}

.passenger {
    background-color: blanchedalmond;
    height: 250px;
    margin: 20px 0;
    padding: 20px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

.bookings {
    background-color: blanchedalmond;
    height: 60px;
    margin: 20px 0;
    padding: 20px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

.index,.show-bookings  {
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.sign {
    width: 30vw;
    margin: 0 auto;
}

.sign ul {
    list-style-type: none;
    line-height: 2em;
    padding-left: 25px;
}


label {
    width: 200px;
}

.label-list {
    width: 200px;
    display: inline;
}


.home-nav {
    margin: 30px auto;
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    height: 200px;
    line-height: 200px;
    text-transform: uppercase;
}

.find-a-trip {
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

.post-a-trip {
    background-color:  rgb(219, 233, 239);
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

.booked {
    margin-bottom: 30px;
    background-color: blanchedalmond;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    padding: 5px 20px;
}

.button_to {
    display: inline;
}

.trip-add-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 35px;
}

.comment {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    list-style: none;
    padding: 0;
    margin: 5px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    padding: 10px;
}

.comments {
    border: 3px solid blanchedalmond;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
}

.comment-title {
    text-align: center;
    margin: 0;
}

.comment-user {
    font-weight: bold;
    color: black;
    display: block;
    padding: 0 5px;
}


form {
    width: 500px;
    margin: 0 auto;
}

.list-form {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;    
}

.input-sign  {
    width: 200px;
}

.cloudinary-fileupload {
    width: 208px;
}

.new-trip {
    text-align: center;
}

.other-list {
    width: 130px;
}

.list-profile {
    display: flex;
    justify-content: flex-start;
}

.profile-info {
    padding: 0;
}

/* .button-container {
    
} */

.button-comment {
    margin: 50px 0;
    position: absolute;
    left: 40%;
}

.button-bookings {
    margin: 0 auto;
    text-align: center;
}

table {
    width: 40vw;
    margin: 30px auto;
    border: 3px solid rgb(219, 233, 239);
    border-radius: 20px;
    padding: 15px 0;
}

td {
    text-align: center;
}

th {
    text-transform: uppercase;
    font-size: 120%;
}

.search {
    width: 30vw;
}

.search-form {
    width: 40vw;
    text-align: center;
}

.search-title, .search-results {
    text-align: center;
}



/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    width: 960px;
    height: 600px;
    margin: 70px auto;
}


