@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');

* {
    font-family: 'Hind', sans-serif;
}

nav {
    max-width: 50vw;
    min-width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


.nav-bar a:visited, a:hover, a {
    text-decoration: none;
    color: black;
}



/* ----------------- flash messages -------------------------- */

.flash {
    background-color: rgb(204, 245, 203);
    font-weight: bold;
    padding: 20px;
    border-radius: 50px;
    margin: 10px 0px;
}

.error {
    background-color: rgb(247, 207, 202);
}

.update {
    background-color: #fcf3cd;
}

/* ------------------------ Home page ------------------------- */

.home-page {
    background-image: url(/assets/jake-hills-TfJKSjoESc4-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    height: 60vh;
    color: white;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.home-title {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-40%, -40%);
    font-size: 330%;
    text-transform: uppercase;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 960px;
    min-width: 800px;
    margin: 0 auto;
    padding: 20px 50px; 
    border-radius: 20px;
}


.home-nav {
    margin: 30px auto;
    max-width: 42vw;
    min-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    height: 200px;
    line-height: 200px;
    text-transform: uppercase;
}

.find-a-trip {
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

.post-a-trip {
    background-color:  rgb(219, 233, 239);
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}


/* -------------------------------------------------------- */

.icon {
    height: 12em;
    display: block;
    border-radius: 192px;
}


.thumb {
    height: 10em;
}

/* ------------- trip index page ------------------ */

.trip-index {
    background-color:  rgb(219, 233, 239);
    /* border: 3px solid rgb(219, 233, 239); */
    height: 250px;
    margin: 20px 0;
    padding: 10px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

.trip-index h3 {
    margin: 0 0 5px 0;
}

.trip-container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
}

.trip-user-details {
    text-align: center;
}

.trip-icon {
    width: 128px;
}

.default-trip-user {
    border-radius: 128px;
}
.car-image {
    width: 330px;
    height: 160px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -20px;
}

.trip-index-info ul {
    margin: 0;
}

.trip-bookings-icons {
    margin: 40px 20px 0 30px;
}

.trip-seat-icon {
    width: 50px;
}

.trip-seat-icon-show-default {
    width: 60px;
    border-radius: 60px;   
}

.default {
    border-radius: 50px;
}


.trip-price {
    text-align: center;
}

.trip-price h1 {
    margin: 0;
}

span {
    color: green;
}

.red {
    color: red;
    text-transform: uppercase;
}


/* ------------------ Trips Show Page --------------------- */

.trip-user-info {
    border: 3px solid blanchedalmond;
    border-radius: 20px;
    padding: 20px 30px 0 30px;
    margin-bottom: 20px;
}

.trip-user-info h1 {
    margin: 0;
}

.trip-show-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 850px;
    margin: 0 auto;
}

.trip-show-driver {
    padding-left: 50px;
    width: 200px;
    text-align: center;
}


.trip-show-driver-name h3 {
    margin-bottom: 0;
}

.trip-show-driver-name p {
    margin-top: 0;
    font-size: smaller;
}

.trip-show-car {
    margin: 0 auto;
    text-align: center;
}

.trip-show-info {
    width: 850px;
    margin: 0 auto;
}

.description span {
    font-weight: bold;
    color: black;
}


.trip-seat-remaining {
    width: 60px;
}

.trip-show-remaining, .trip-show-price  {
    display: inline-block;
}

.trip-show-price {
    height: 69px;
    position: relative;
    top: -25px;
}

.trip-show-price h3 {
    margin: 0 0 0 20px;
}

.trip-additional-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 35px;
}

.booked {
    margin-bottom: 10px;
    background-color: blanchedalmond;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    padding: 5px 20px;
    text-align: center;
}

.button_to {
    display: inline;
}

.comment {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    list-style: none;
    padding: 0;
    margin: 5px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    padding: 10px;
}

.comments {
    border: 3px solid blanchedalmond;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}

.comment-title {
    text-align: center;
    margin: 0;
}

.comment-user {
    font-weight: bold;
    color: black;
    display: block;
    padding: 0 5px;
}

.trip-show-user {
    text-align: center;
}

.trip-show-bookings {
    padding-bottom: 10px;
}

.delete-booking {
    margin: 10px 0;
    text-align: center;
}


/* ---------------------- trip new/edit ----------------------- */

.trip-form form {
    width: 500px;
}

.trip-form .input-sign {
    width: 300px;
}

/* ---------------------- User Page --------------------------- */

.user-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 80px;
    width: 1380px;
    position: absolute;
    left: 80px;
}

.user-profile-image {
    border-radius: 192px;
    width: 192px;
}

.user-profile-info {
    border: 3px solid rgb(219, 233, 239);
    border-radius: 20px;
    width: 300px;
    text-align: center;
    padding-bottom: 20px;
    position: sticky;
    top: 60px;
}

.user-profile-info h1 {
    margin: 10px;
}

.user-heading {
    margin: 0;
}

.profile-info {
    padding: 0 20px;
    text-align: left;
}

.trip-container-user-page {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.user-page {
    margin-top: 20px; 
}

.no-trips {
    margin: 0 auto;
}

.default-icon {
    margin: 0 auto;
}

.edit-profile-button {
    margin: 20px auto 10px auto;
    text-align: center;
    width: 200px;
}

/* ------------------------------------------------------- */



.description {
    display: block;
}

/* ---------------------- Passenger Page --------------------------- */

.passenger {
    background-color: blanchedalmond;
    height: 250px;
    margin: 20px 0;
    padding: 20px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

.passenger h3 {
    margin: 0;
}

.bookings {
    background-color: blanchedalmond;
    height: 70px;
    margin: 20px 0;
    padding: 10px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

.index,.show-bookings  {
    margin: 0;
}

/* ------------------------- Sign In/Forms ------------------------ */

.sign, .trip-form {
    width: 550px;
    margin: 0 auto;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    border-radius: 20px;
    padding: 20px;
}

.sign h1 {
    text-align: center;
}

.sign ul, .trip-form ul {
    list-style-type: none;
    line-height: 2em;
    padding-left: 0;
}

.sign-in-button {
    margin: 30px auto;
    text-align: center;
    width: 200px;
}

label {
    width: 200px;
}

.label-list {
    width: 200px;
    display: inline;
}


form {
    width: 400px;
    margin: 0 auto;
}

.list-form {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;    
}

.input-sign  {
    width: 200px;
}

.cloudinary-fileupload {
    width: 308px;
}

.new-trip {
    text-align: center;
}

.other-list {
    width: 130px;
}

.list-profile {
    display: flex;
    justify-content: flex-start;
}


.button-comment {
    margin: 20px auto;
    left: 40%;
    text-align: center;
}

.button-bookings {
    margin: 0 auto;
    text-align: center;
}

/* --------- Search (button in scss) ------------- */

.search-headings {
    background-color:  rgb(219, 233, 239);
    height: 50px;
    margin: 10px auto;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 1fr 2fr;
    grid-column-gap: 5px;
    text-align: center;
}


.th {
    text-transform: uppercase;
    font-size: 120%;
    font-weight: bold;
}

.search {
    width: 30vw;
}

.search-form {
    width: 45vw;
    text-align: center;
}

.search-title, .search-results {
    text-align: center;
}

.search-area {
    position: relative;
    height: 50px;
    margin-bottom: 100px;
    top: -20px;
}


.headings div {
    width: 60px;
}

.result {
    max-width: 960px;
    min-width: 800px;
    margin: 20px auto;
}

.trip-results {
    border: 3px solid rgb(219, 233, 239);
    height: 50px;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 1fr 2fr;
    grid-column-gap: 3px;
    text-align: center;
    background-color: rgb(219, 233, 239);
}

.trip-results div {
    background-color: white;
    line-height: 50px;
}

.start-result {
    border-radius: 20px 0 0 20px;
}

.end-result {
    border-radius: 0 20px 20px 0;
}

/* ----------- Comments Page -------------- */

.comment-heading {
    text-align: center;
}

.create-comment {
    margin: 20px 0;
    text-align: center;
}

.comment-form {
    text-align: center;
}

/* -----button sign in -------------- */

.button-28 {
    appearance: none;
    background-color: transparent;
    /* border: 2px solid #1A1A1A; */
    color: #fff;
    background-color: #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    /* color: #3B3B3B; */
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}
  
.button-28:disabled {
    pointer-events: none;
}

  
.button-28:hover, .button-28 a:hover, .button-28 a:visited  {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}


.button-29 {
    appearance: none;
    background-color: transparent;
    border: 3px solid rgb(219, 233, 239);
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}
  
.button-29:disabled {
    pointer-events: none;
}
  
.button-29:hover {
    color: #fff;
    background-color: rgb(219, 233, 239);
    box-shadow: rgba(148, 148, 148, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.button-29:active {
    box-shadow: none;
    transform: translateY(0);
}

.trip-button {
    display: inline-block;
    text-align: center;
}

.button-28-small {
    appearance: none;
    background-color: transparent;
    /* border: 2px solid #1A1A1A; */
    color: #fff;
    background-color: #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    /* color: #3B3B3B; */
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}
  
.button-28-small:disabled {
    pointer-events: none;
}

  
.button-28-small:hover, .button-28-small a:hover, .button-28-small a:visited, .button-28-small a:link, .button-28-small a:active  {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.button-28-small:active {
    box-shadow: none;
    transform: translateY(0);
}


/* ----------------- Admin/User Index page --------------- */

.admin-page {
    width: 700px;
    margin: 0 auto;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    border-radius: 20px;
    padding: 20px 20px 20px 40px;
    text-align: center;
}


.user-index-heading {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr 1fr;
    text-transform: uppercase;
    font-weight: bold;
}

.user-index {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr 1fr;
}


/* ---------------------- Map --------------------- */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    width: 960px;
    height: 600px;
    margin: 30px auto;
}


